*.docx
*.doc
*.odt
*.hcl
.env
encryption/*
cipher/*
plain/*
conf/*.cnf
flask/uploads/*
.idea/*
cron.avaliacao.sh
*.log
*.gz
*.sh
!commit.sh
!deploy.sh
*.tar.gz
*.zip
*.pass
*.sql
*.yml
!.github/workflows/*.yml
*.pdf
*.xml
mysql/*
*.bak
*.pyc
mysql.sh
*.ini
backup.sh
flask/documentos/*
*.doc
*.docx
.tailwindcli
