#!/bin/bash
cd /home/perazzo/docker/projetos/cppgi
dir="/backup/cppgi/share"
server="perazzo@sci01-ter-jne.ufca.edu.br"
arquivo=$(ssh sci01-ter-jne.ufca.edu.br 'ls -t /backup/cppgi/share | head -1')
scp $server:$dir/$arquivo share/
gunzip share/$arquivo
arquivo=$(ls -t share | head -1)
/usr/local/bin/docker-compose -f /home/perazzo/docker/projetos/cppgi/docker-compose.yml exec -T db_cppgi bash -c "mysql -u root -pSENHA < /share/$arquivo"
rm share/$arquivo
