services:
  db_cppgi:
     image: mariadb:11
     build: ./mariadb
     restart: no
     command: mariadbd --sql_mode=""
     environment:
       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
       MYSQL_DATABASE: cppgi
       MYSQL_USER: cppgi
       MYSQL_PASSWORD: ${MYSQL_PASSWORD}
       TZ: America/Fortaleza
     #ports:
     #  - "33306:3306"
     volumes:
       - mariadb-cppgi:/var/lib/mysql
       - ./share:/share
       #- ./encryption:/etc/mysql/encryption
       - ./conf:/etc/mysql/conf.d:ro
       #- ./plain:/etc/mysql/password
     networks:
       - web  

  cppgi:
    image: cppgi:latest
    build: .
    volumes:
      - ./flask:/home/perazzo/cppgi
      - ./fonts:/fonts
    restart: no
    ports:
      - "9010:80"
    networks:
      - web

networks:
  web:
    external: true

volumes:
  mariadb-cppgi: