appdirs==1.4.3
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
cycler==0.10.0
distlib==0.3.0
ezodf==0.3.2
filelock==3.0.12
Flask==1.1.4
Flask-HTTPAuth==4.5.0
Flask-Mail==0.9.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
idna==2.10
importlib-metadata==1.6.0
importlib-resources==1.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.1.0
lxml==4.8.0
MarkupSafe==1.1.1
matplotlib==2.2.5
mpmath==1.2.1
mysqlclient==1.4.6
numpy==1.16.6
opencv-python==4.2.0.32
pandas==0.24.2
pathlib2==2.3.5
pdfkit==1.0.0
Pillow==6.2.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
scandir==1.10.0
singledispatch==3.4.0.3
six==1.14.0
soupsieve==1.9.6
subprocess32==3.5.4
sympy==1.5.1
typing==3.7.4.1
Unidecode==1.1.1
urllib3==1.26.8
virtualenv==20.0.18
waitress==1.4.4
Werkzeug==0.16.1
WTForms==2.3.3
zipp==1.2.0
