<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
var _validFileExtensions = [".odt",".doc",".docx"];
function ValidateSingleInput(oInput) {
    if (oInput.type == "file") {
        var sFileName = oInput.value;
         if (sFileName.length > 0) {
            var blnValid = false;
            for (var j = 0; j < _validFileExtensions.length; j++) {
                var sCurExtension = _validFileExtensions[j];
                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                    blnValid = true;
                    break;
                }
            }

            if (!blnValid) {
                alert("Arquivo inválido! Tipo de arquivo permitido: " + _validFileExtensions.join(", "));
                oInput.value = "";
                return false;
            }
        }
    }
    return true;
}

var _validFileExtensionsPDF = [".pdf"];
function ValidateSingleInputPDF(oInput) {
    if (oInput.type == "file") {
        var sFileName = oInput.value;
         if (sFileName.length > 0) {
            var blnValid = false;
            for (var j = 0; j < _validFileExtensionsPDF.length; j++) {
                var sCurExtension = _validFileExtensionsPDF[j];
                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                    blnValid = true;
                    break;
                }
            }

            if (!blnValid) {
                alert("Arquivo inválido! Tipo de arquivo permitido: " + _validFileExtensionsPDF.join(", "));
                oInput.value = "";
                return false;
            }
        }
    }
    return true;
}
</script>
