{% extends "layout.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block page_header %}
<h1 class="page-title">MÓDULO ADMIN</h1>
<h2 class="page-subtitle">ATRIBUIR AVALIADOR A UMA SALA</h2>
{% endblock %}

{% block content %}
<form name="form_avaliador_sala" id="form_avaliador_sala" action="{{url_for('avaliador_sala',edital=edital)}}" method="POST" class="flex flex-col gap-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="alert-info">
        <div>
          <h3 class="text-lg font-bold">AVALIADOR/SALA</h3>
          <h4 class="mt-1">{{edital}} - {{nome_longo}}</h4>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div>
            <label class="form-label">Avaliador</label>
            <select class="form-select" required="required" name="username" id="username">
                {%for usuario in usuarios%}
                    <option value="{{usuario[0]}}">{{usuario[1]}}</option>
                {%endfor%}
            </select>
        </div>
        <div>
            <label class="form-label">Sala/Data</label>
            <select class="form-select" required="required" name="sala_data" id="sala_data">
            {%for data in datas%}
                {% set salas = data[4].split(',') %}
                    {%for sala in salas%}
                        <option value="{{data[1]}};{{sala}}">{{data[1].strftime('%d/%m/%Y')}} - {{sala}}</option>
                    {%endfor%}
            {%endfor%}
            </select>
        </div>
        <div>
            <label class="form-label">Grande Área</label>
            <select class="form-select" name="area" id="area" required="required">
                <option disabled="disabled" selected="selected" value=""> --selecione-- </option>
                <option value="Ciências da Vida">Ciências da Vida</option>
                <option value="Ciências Exatas, Tecnológicas e Multidisciplinar">Ciências Exatas, da Terra, Engenharias e Multidisciplinar</option>
                <option value="Humanidades">Ciências Humanas e Sociais, Letras e Artes</option>
            </select>
        </div>
    </div>

    <div class="flex justify-center">
        <input class="btn-primary cursor-pointer" type="submit" value="Salvar">
    </div>
</form>
{% endblock %}
