<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Avaliação de Projeto</title>

<script>
    function recomendacao() {
       var c1 = parseInt(document.forms["frmAvaliacao"]["c1"].value);
       var c2 = parseInt(document.forms["frmAvaliacao"]["c2"].value);
       var c3 = parseInt(document.forms["frmAvaliacao"]["c3"].value);
       var c4 = parseInt(document.forms["frmAvaliacao"]["c4"].value);
       var c5 = parseInt(document.forms["frmAvaliacao"]["c5"].value);
       var c6 = parseInt(document.forms["frmAvaliacao"]["c6"].value);
       var c7 = parseInt(document.forms["frmAvaliacao"]["c7"].value);
       var c8 = parseInt(document.forms["frmAvaliacao"]["c8"].value);
       var c9 = parseInt(document.forms["frmAvaliacao"]["c9"].value);
       var total = c1+c2+c3+c4+c5+c6+c7+c8+c9;
       var totalStr = total.toString();
       document.getElementById("total").innerHTML = "<h3>Pontuação total: " + totalStr + "</h3>";
       if (total>=70) {
          document.getElementById("resultado").innerHTML = "<h3>TRABALHO APROVADO</h3>";
          document.getElementById("txtRecomendacao").value = 1;
       }
       else {
         document.getElementById("resultado").innerHTML = "<h3>TRABALHO <B>NÃO</B> APROVADO</h3>";
         document.getElementById("txtRecomendacao").value = 0;
       }
     }

     function identificado() {
        var identificado = parseInt(document.forms["frmAvaliacao"]["identificado"].value);
        if (identificado==1) {
            document.getElementById("txtRecomendacao").value = 0;
            document.forms["frmAvaliacao"]["c1"].value = 0;
            document.forms["frmAvaliacao"]["c2"].value = 0;
            document.forms["frmAvaliacao"]["c3"].value = 0;
            document.forms["frmAvaliacao"]["c4"].value = 0;
            document.forms["frmAvaliacao"]["c5"].value = 0;
            document.forms["frmAvaliacao"]["c6"].value = 0;
            document.forms["frmAvaliacao"]["c7"].value = 0;
            document.forms["frmAvaliacao"]["c8"].value = 0;
            document.forms["frmAvaliacao"]["c9"].value = 0;
            document.getElementById("total").innerHTML = "<h3>Pontuação total: 0</h3>";
            document.getElementById("comentarios").value = "Trabalho identificado. Desclassificado."; 
        }
        else {
          document.getElementById("txtRecomendacao").value = 1;
        }
     }

</script>
  </head>
  <style>
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {

  background-color: #808080;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.identificacao {
  background-color: #fcff33;
}
.alerta {
  background-color: #06f969;
}
</style>
  <body>
    <center><img src="{{ url_for('static', filename='brasao.jpg')}}" width="8%" alt="" align="center"></center>
    <br><center>
    Ministério da Educação<BR>
    Universidade Federal do Cariri<BR>
    Plataforma Yoko - Eventos<BR></center>
    <center><h1>Avaliação de Trabalho Científico</h1><center>
      <hr>
      <h3>Informações importantes</h3>
      <ol>
        <li>A declaração de participação como consultor ad-hoc é gerada imediatamente após a submissão deste formulário de avaliação.</li>
        <li>Os proponentes não tem acesso, em hipótese alguma, aos nomes dos avaliadores, ficando estes dados acessíveis apenas a coordenadoria de pesquisa para fins de controle das declarações.</li>
        <li>Quaisquer dúvidas podem ser endereçadas a <b>pesquisa.prpi@ufca.edu.br</b>, ou pelo telefone <b>(88) 3221-9327</b></li>
        <li class="alerta"><b>Caso o texto contenha a identificação do(s) autor(es), o mesmo deve ser rejeitado (não recomendado).</b> </li>
      </ol>


    <form name="frmAvaliacao" action="/cppgi/avaliar" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <hr>
      <h2>TEXTO COMPLETO DO TRABALHO</h2>
      {{ arquivos }} <br>

      <hr>
      <h2>FORMULÁRIO DE AVALIAÇÃO</h2>
      <h3>O trabalho é considerado APROVADO (recomendado) caso o somatório dos conceitos abaixo seja maior ou igual a 70.</h3>
      <hr>
      <div class="identificacao">
          <b>Seu nome completo (para geração de declaração de avaliação):</b> <input name="txtNome"
            required="required" size="80" type="text"><br>
      </div>
      <br>
      <br>
      <div class="identificacao">
        <b>O trabalho está identificado?</b> <br>
        <select id="identificado" name="identificado" required="required" onblur="identificado()" width="50%">
          <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
      </div><br>
      <table style="width:100%">

        <tr>
          <th>Item</th><th>Critério de análise e julgamento</th><th>Pontuação</th>
        </tr>

        <tr>
          <td>A</td><td>Qualidade da redação e organização do texto: ortografia, gramática, clareza, objetividade;<b>(Máximo 10 pontos)</b></td>
          <td>
          <select name="c1" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(11) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

        <tr>
          <td>B</td><td>Atualidade, originalidade e relevância do tema para a área em questão <b>(Máximo 10 pontos)</b></td>
          <td>
          <select name="c2" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(11) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

        <tr>
          <td>C</td><td>Objetivos são claros e bem definidos <b>(Máximo 10 pontos)</b></td>
          <td>
          <select name="c3" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(11) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

        <tr>
          <td>D</td><td>Revisão de literatura reflete o estado da arte do conhecimento na área <b>(Máximo 10 pontos)</b></td>
          <td>
          <select name="c4" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(11) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

        <tr>
          <td>E</td><td>Consistência conceitual ou teórica do trabalho é adequada e bem estruturada <b>(Máximo 10 pontos)</b></td>
          <td>
          <select name="c5" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(11) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

        <tr>
          <td>F</td><td>Contribuição científica para o conhecimento atual na área temática é relevante <b>(Máximo 10 pontos)</b></td>
          <td>
          <select name="c6" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(11) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

        <tr>
          <td>G</td><td>Método de pesquisa claramente definido e consistente com os objetivos do trabalho <b>(Máximo 10 pontos)</b></td>
          <td>
          <select name="c7" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(11) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

        <tr>
          <td>H</td><td>Análise de dados e resultados com interpretação correta dos dados e articulada com a base teórica <b>(Máximo 20 pontos)</b></td>
          <td>
          <select name="c8" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(21) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

        <tr>
          <td>I</td><td>Conclusões são fundamentadas nos dados da pesquisa, claras e objetivas <b>(Máximo 10 pontos)</b></td>
          <td>
          <select name="c9" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            {% for i in range(11) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
        </tr>

      </table>
      <br>
      <div align="right"
      <p id="total"></p>
      </div>
      <BR>
      <div align="right"
      <p id="resultado"></p>
    </div>
      <br>
      <b>Comentários:<br>
        <textarea name="txtComentarios" id="txtComentarios" cols="120" rows="40" required="required" onfocus="recomendacao()"></textarea><br>

        Recomendação:
        <select id="txtRecomendacao" name="txtRecomendacao" required="required" onblur="recomendacao()" onfocus="recomendacao()" width="50%">
          <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
          <option value="1">Recomendado</option>
          <option value="0">Não recomendado</option>
        </select>
        <br>
      </b>
      <div style="text-align: center;"><br>
      </div>
      <b><input name="btnEnviar" value="Submeter Avaliação" type="submit"><br>
      </b> </form>
    <p><br>
    </p>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
