{% extends "base.html" %}
{% block title %}SUBMISSÃO DE TRABALHO CIENTÍFICO{% endblock %}
  {%block validacao%}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  
  <script>

    function validarCPF(cpf) {	
        cpf = cpf.replace(/[^\d]+/g,'');	
        if(cpf == '') return false;	
        // Elimina CPFs invalidos conhecidos	
        if (cpf.length != 11 || 
            cpf == "00000000000" || 
            cpf == "11111111111" || 
            cpf == "22222222222" || 
            cpf == "33333333333" || 
            cpf == "44444444444" || 
            cpf == "55555555555" || 
            cpf == "66666666666" || 
            cpf == "77777777777" || 
            cpf == "88888888888" || 
            cpf == "99999999999")
                return false;		
        // Valida 1o digito	
        add = 0;	
        for (i=0; i < 9; i ++)		
            add += parseInt(cpf.charAt(i)) * (10 - i);	
            rev = 11 - (add % 11);	
            if (rev == 10 || rev == 11)		
                rev = 0;	
            if (rev != parseInt(cpf.charAt(9)))		
                return false;		
        // Valida 2o digito	
        add = 0;	
        for (i = 0; i < 10; i ++)		
            add += parseInt(cpf.charAt(i)) * (11 - i);	
        rev = 11 - (add % 11);	
        if (rev == 10 || rev == 11)	
            rev = 0;	
        if (rev != parseInt(cpf.charAt(10)))
            return false;		
        return true;   
    }

    function seGraduacao() {
      if (document.getElementById('vinculo').value == 0) { //Se o vinculo for graduação
        document.getElementById('tipo_vinculo').setAttribute('required', "");
        document.getElementById('div_tipo_vinculo').style.visibility = "visible";
      }
      else {
        document.getElementById('tipo_vinculo').removeAttribute('required');
        document.getElementById('tipo_vinculo').value = -1;
        document.getElementById('fomento').value = -1;
        document.getElementById('div_tipo_vinculo').style.visibility = "hidden";
        document.getElementById('div_fomento').style.visibility = "hidden";
      }
    }

    function seBolsista() {
      if (document.getElementById('tipo_vinculo').value == 1) { //Se o vinculo for bolsista
        document.getElementById('fomento').setAttribute('required', "");
        document.getElementById('div_fomento').style.visibility = "visible";
      }
      else {
        document.getElementById('fomento').removeAttribute('required');
        document.getElementById('fomento').value = -1;
        document.getElementById('div_fomento').style.visibility = "hidden";
      }
    }
    </script>
    <script>
        $(document).ready(function(){
            $('#btnEnviar').on('click',function(event){
                var username = $('#identificacao').val(); 
                if (validarCPF(username)) {
                    //$('#frmCadastroProjeto').submit();
                    return (true);
                }
                else {
                    alert('CPF inválido!');
                    return (false);
                }
            });
        });
    </script>
  {%endblock%}
  {% block content %}
  <br>
    <form name="frmCadastroProjeto" id="frmCadastroProjeto" action="/cppgi/cadastrarProjeto" method="POST"
      enctype="multipart/form-data">

      <h1 style="text-align: center;"> SUBMISSÃO DE TRABALHO CIENTÍFICO</h1><br>
      <center><h2>Plataforma Yoko</h2></center>
      <hr> 
      
      <div class="alert alert-dark" role="alert">
        <h2>DADOS PESSOAIS</h2>
      </div>
      <br>
      <div class="row g-3">
        <div class="col">
          <label>
            <b>Lista de autores(as) (escreva o nome completo de cada um(a), separado por vírgulas)</b>: 
            <input name="autores" required="required" type="text" placeholder="Ex: José Maria, João dos Santos e Maria Helena"><br>
          </label>
        </div>
          
        <div class="col">
          <label>
            <b>CPF do autor principal (apenas os números, sem pontos ou espaços)</b>: 
            <input name="identificacao" id="identificacao" required="required" type="text" placeholder="Ex: 00000000000"><br>
          </label>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <label>
            <b>E-Mail do autor principal</b>: 
            <input name="email" required="required" type="email"><br>
          </label>
          <br>
          <br>
        </div>
        <div class="col">
          <label>
            <b>Número de Matriculas dos demais autores (separados por vírgulas)</b>: 
            <input name="matriculas" required="required" type="text"><br>
          </label>
          <br>
          <br>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <label><b>Vínculo</b>: 
            <select class="form-select" name="vinculo" id="vinculo" required="required" onchange="seGraduacao()">
              <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
              <option value="0">Graduação</option>
              <option value="1">Pós-Graduação</option>
              <option value="2">Ensino Médio</option>
            </select>
          </label>
        </div>
        <div class="col" id="div_tipo_vinculo" style="visibility: hidden">
          <label><b>Tipo de Vínculo</b>: 
            <select class="form-select" name="tipo_vinculo" id="tipo_vinculo" required="required" onchange="seBolsista()">
              <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
              <option value="1">Bolsista</option>
              <option value="0">Voluntário</option>
              <option value="-1">Não se aplica</option>
            </select>
          </label>
        </div>
        <div class="col" id="div_fomento" style="visibility: hidden">
          <label><b>Agência de fomento</b>: 
            <select class="form-select" name="fomento" id="fomento" required="required">
              <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
              <option value="0">UFCA</option>
              <option value="1">CNPq</option>
              <option value="2">FUNCAP</option>
              <option value="-1">Não se aplica</option>
            </select>
          </label>
        </div>
      </div>

      <div class="alert alert-dark" role="alert">
        <h2>DADOS DO TRABALHO</h2>
      </div>
      <p id="texto_projeto"></p>
      <div class="row g-3">
        <div class="col">
            <label><b>Destino da Submissão</b>:
              <select class="form-select" name="destino" required="required">
                <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
                {% for linha in abertos %}
                <option value="{{linha[0]}}">{{linha[1]}} - Até: {{linha[2]}}</option>
                {% endfor %}
              </select>
              <br>
            </label>
        </div>
        <div class="col">
            <label><b>Tipo de trabalho</b>: 
              <select class="form-select" name="tipo_trabalho" required="required">
                <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
                <option value="0">Resumo simples</option>
                <option value="1">Resumo Expandido</option>
                <option value="2">Trabalho completo</option>
              </select>
            </label>
        </div>
        <div class="col">
            <label><b>Tipo de apresentação</b>: 
              <select class="form-select" name="tipo_apresentacao" required="required">
                <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
                <option value="0">Apresentação Oral</option>
                <option value="1">Apresentação em Poster</option>
              </select>
            </label>
        </div>
        <div class="col">
          <label>
            <b>Grande Área</b>:
            <select class="form-select" name="grande_area" required="required">
              <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
              <option value="Ciências da Vida">Ciências da Vida</option>
              <option value="Ciências Exatas, Tecnológicas e Multidisciplinar">Ciências Exatas, da Terra, Engenharias e Multidisciplinar</option>
              <option value="Humanidades">Ciências Humanas e Sociais, Letras e Artes</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row g-3">
        <div class="col">
          <label>
            <b>Área CNPq</b>:
            <select class="form-select" name="area_cnpq" required="required">
              <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
              <option value=CIÊNCIAS EXATAS E DA TERRA">CIÊNCIAS EXATAS E DA TERRA</option>
              <option value="ENGENHARIAS">ENGENHARIAS</option>
              <option value="CIÊNCIAS DA SAÚDE">CIÊNCIAS DA SAÚDE</option>
              <option value="CIÊNCIAS AGRÁRIAS">CIÊNCIAS AGRÁRIAS</option>
              <option value="CIÊNCIAS SOCIAIS APLICADAS">CIÊNCIAS SOCIAIS APLICADAS</option>
              <option value="CIÊNCIAS HUMANAS">CIÊNCIAS HUMANAS</option>
              <option value="LINGÜÍSTICA, LETRAS E ARTES">LINGÜÍSTICA, LETRAS E ARTES</option>
              <option value="MULTIDISCIPLINAR">MULTIDISCIPLINAR</option>
            </select>
          </label>
        </div>
        <div class="col">
          <label>
            <b>Sub-Área CNPq</b>:
            <select class="form-select" name="subarea_cnpq" required="required">
              <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
              {% for linha in subareas_cnpq %}
                <option value="{{linha[1]}}">{{linha[1]}}</option>
              {% endfor %}
            </select>
          </label>
        </div>
      </div>
        <div class="row g-3">
          <label>
            <b>Título</b>:
            <textarea style="height: 100px" class="form-control" name="titulo"  required="required" maxlength="200"></textarea>
          </label>
        </div>

        <div class="row g-3">
          <label>
            <b>Palavras-chave (separadas por vírgula)</b>:
            <input name="palavras" required="required" type="text">
          </label>
        </div>
        
        <div class="row g-3">
          <label>
            <b>Resumo do trabalho</b><br>
            <textarea style="height: 100px" class="form-control" name="resumo"  required="required" maxlength="15000"></textarea>
          </label>
        </div>
        
        <div class="alert alert-dark" role="alert">
          <h2>ARQUIVOS</h2>
        </div>

        <div class="alert alert-danger" role="alert">
          <h5>Remova qualquer identificação dos autores do arquivo do trabalho. Arquivos com identificação dos autores serão rejeitados.</h5>
        </div>        
      <div class="row g-3">
        <div class="col">
          <b>Arquivo do trabalho</b> <b>(pdf)</b>: 
          <input class="form-control" name="arquivo_trabalho" required="required" onchange="ValidateSingleInputPDF(this);"
          type="file">
        </div>
      </div>
      
      <div class="alert alert-dark" role="alert">
        <h2>PUBLICAÇÃO NOS ANAIS</h2>
      </div>
      <div>
        <label><b>Você autoriza a publicação do seu trabalho nos anais do evento ?</b>
          <select class="form-select" name="anais" required="required">
            <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </label>
      </div>      
      {%if PRODUCAO==1%} 
        <center><div class="g-recaptcha" data-sitekey="6Lfe8NgbAAAAAPYO9OZF4i34EpSKvNGQihaxr0Am"></div></center>
      {%endif%}
      <div style="text-align: center;">
        <label>
        <input class="btn btn-secondary btn-lg" 
        name="btnEnviar" id="btnEnviar" value="Enviar"
        formenctype="multipart/form-data" type="submit">
      </label><br>
      </div>
      <hr>
</form>
{% endblock %}
