{% extends "base.html" %}
{% block title %}SUBMISSÃO DE TRABALHO CIENTÍFICO{% endblock %}

  {% block content %}
  <br>
    <form name="frmCadastroProjeto" action="/cppgi/cadastrarProjeto" onsubmit="return humano()" method="POST"
      enctype="multipart/form-data">

      <h1 style="text-align: center;"> SUBMISSÃO DE TRABALHO CIENTÍFICO</h1><br>
      <center><h2>Plataforma Yoko</h2></center>
      <center><i><font size="2">Sistema Experimental. Quaisquer erros ou problemas podem ser reportados ao e-mail atendimento.prpi@ufca.edu.br para correção(ões).</font></i></center><br>
      <label><b>Destino da Submissão</b>:
        <select name="destino" required="required" onchange="tipo_projeto()">
          <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
          {% for linha in abertos %}
          <option value="{{linha[0]}}">{{linha[1]}} - Até: {{linha[2]}}</option>
          {% endfor %}
        </select>
        <br>

      </label>
      <label><b>Tipo de trabalho</b>: <select name="tipo_trabalho" required="required">
        <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
          <option value="0">Resumo simples</option>
          <option value="1">Resumo Expandido</option>
          <option value="2">Trabalho completo</option>
        </select></label><br>
      <label><b>Tipo de apresentação</b>: <select name="tipo_apresentacao" required="required">
        <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
          <option value="0">Apresentação Oral</option>
          <option value="1">Apresentação em Poster</option>
        </select></label><br>
      <h2> Dados pessoais</h2>
      <br>
      <label><b>Lista de autores(as) (escreva o nome completo de cada um(a), separado por vírgulas)</b>: <input name="autores" required="required" size="80" type="text"><br>
        <b>CPF do autor principal (apenas os números, sem pontos ou espaços)</b>: <input name="identificacao" required="required" size="10" type="text"><br>
        <b>E-Mail do autor principal</b>: <input name="email" required="required" size="80" type="email"><br>
        <br>
        <b>Grande Área</b>:
        <select name="grande_area" required="required">
          <option  disabled="disabled"  selected="selected" value=""> --selecione-- </option>
          <option value="Ciências da Vida">Ciências da Vida</option>
          <option value="Ciências Exatas, Tecnológicas e Multidisciplinar">Ciências Exatas, Tecnológicas e Multidisciplinar</option>
          <option value="Humanidades">Humanidades</option>
        </select>
        <br>

      <hr><br>
      <h2>Dados do trabalho</h2>
      <p id="texto_projeto"></p>
      <label><b>Título</b>: <br>
        <textarea name="titulo" cols="130" rows="3" required="required" maxlength="200"></textarea><br>

        <br>
        <b>Palavras-chave (separadas por vírgula)</b>:<input name="palavras" required="required" size="80"
          type="text"><br>
        <b>Resumo do trabalho</b>: <br>
        <textarea name="resumo" cols="130" rows="20" required="required"
maxlength="15000"></textarea><br>
<hr>
<h2>Arquivos</h2><br>

        <br>
        <h3>Remova qualquer identificação dos autores do arquivo do trabalho. Arquivos com identificação dos autores serão rejeitados.</h3>
        <br><b>Arquivo do trabalho</b> <b>(pdf)</b>: <input name="arquivo_trabalho" required="required" onchange="ValidateSingleInput(this);"
        type="file"><br>
      <br>

      <h2> Arquivos suplementares (opcional)</h2>
      <br>
        <b>Documento Suplementar 1 (pdf)</b>: <input name="arquivo_suplementar1" onchange="ValidateSingleInput(this);"
          type="file"><br>
        <b>Documento Suplementar 2 (pdf)</b>: <input name="arquivo_suplementar2"  onchange="ValidateSingleInput(this);" type="file"><br>
        <br>

      </label>
<hr>
        <br>
      </label>
      <!--<center><div class="g-recaptcha" data-sitekey="6LfzEZ4UAAAAAGZdKtY1Qw9zYUdZsQbYdjaXV6c6"></div></center>-->
      <center><h4>Clique em "Enviar" apenas uma vez e aguarde a conclusão da submissão!</h4></center>
      <div style="text-align: center;"><label><input name="btnEnviar" value="Enviar"
formenctype="multipart/form-data" type="submit"></label><br>
        <label></label></div>
      <div style="text-align: right;"><label></label><br>
      </div>
      <br>
      <hr>
</form>
{% endblock %}
