<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CERTIFICADO DE APRESENTAÇÃO</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>CERTIFICADO DE APRESENTAÇÃO DE TRABALHO</b></h1>
    <h2>{{evento}}</h2>
    <hr>
    <p><b>ID do trabalho: </b>{{id_projeto}}<b><br>
      </b></p>
    <p><b>Autor(es)</b>: {{proponente}}</p>

    <p><b>Titulo</b>: {{titulo_projeto}}</p>

    <p><a href='{{link|safe}}'>BAIXAR CERTIFICADO DE APRESENTAÇÃO</a></p>

    <hr>
    <p>Quaisquer dúvidas, enviar e-mail para {{SUPORTE}}.</p>
    <h2 style="text-align: center;"><a href="https://conpesq.ufca.edu.br">https://conpesq.ufca.edu.br</a></h2>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
