<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Confirmação de submissão de trabalho</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>CONFIRMAÇÃO DE AVALIAÇÃO DE TRABALHO</b></h1>
    <h2>{{evento}}</h2>
    <p>
    {{titulo}}    
    </p>
    <p>
        Link da declaração de avaliação: <a href="{{link|safe}}">{{link|safe}}</a> 
    </p>
    <p>Quaisquer dúvidas, enviar e-mail para atendimento.prpi@ufca.edu.br.</p>
    <h2 style="text-align: center;"><a href="https://conpesq.ufca.edu.br">https://conpesq.ufca.edu.br</a></h2>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
