<!DOCTYPE html>
<html lang="en">

<head>
  {% block html_head %}
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %} - DECLARAÇÃO</title>
  {% endblock %}
</head>

<body>
    <article></article>
    <div id="header">
    {% block header %}
        <center><img src="{{raiz}}{{ url_for('static', filename='brasao_uniao.png',_external=True)}}" width="120" height="130" alt=""></center>
        <br><center>
        Ministério da Educação<BR>
        {{INSTITUICAO}}<BR>
        Plataforma Yoko - Eventos<BR></center>
          <hr>
    {% endblock %}
   </div>
<BR><BR><BR>
<center><h1>DECLARAÇÃO</h1></center><br>
<div id="content" align="justify">
{% block content %}{% endblock %}
<br><br>
</div>
{% block assinatura %}
    <br>
     <div align="right">
      Juazeiro do Norte, {{data}}
    </div>
    <br><br>
    <center><img src="{{raiz}}{{ url_for('static', filename='assinatura_laura.png',_external=True)}}" width="254" height="49" alt=""></center>
    <center>___________________________________</center><br>
    <center>LAURA HEVILA INOCENCIO LEITE</center><br>
    <center>PRO-REITORA DE PESQUISA, POS-GRADUACAO E INOVACAO</center><br>
    <center>SIAPE: 2222214</center>
{% endblock %}
{% block footer %}
    <br><br><br><center><small><i><a href="http://prpi.ufca.edu.br">http://prpi.ufca.edu.br</a></i></small></center><br><br><br><br>
    
{% endblock %}

</body>

</html>
