<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AOS CONGRESSISTAS DO {{evento}}</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>AOS CONGRESSISTAS DO {{evento}}</b></h1>
    <h2>ESTA CARTA É PARA VOCÊS</h2>
    <hr>
      <p>
        Esta mensagem nasce de uma vontade de refundar nossos anseios e necessidades. Nosso evento, o II CONPESQ, ocorreu em um formato inesperado, no momento em que vivemos uma tragédia no Brasil. São vidas perdidas, famílias desfeitas, e enquanto instituição, não podemos e nem devemos mudar o foco em um evento. Pelo contrário, ao longo desses dias, nosso evento buscou reforçar que os heróis vestem jalecos, e que nossos cientistas não empunham armas, mas o conhecimento, a força do cuidado e da ciência. Nossa solidariedade a você congressista, que em meio a um ano totalmente desafiador, conseguiu produzir ciência de qualidade, e mostrar que os rumos da ciência no pós-pandemia são ainda mais desafiadores, mas, certamente, é a solução para essa grave crise sanitária que nos assola.  
      </p>
      <p>
        Durante esta especial semana, de 12 a 16 de abril de 2021, a {{SIGLA}} realizou o II Congresso de Pesquisa, Pós-Graduação e Inovação, que objetivou estimular os alunos dos cursos de graduação e pós-graduação da {{SIGLA}}, e de outras instituições de ensino superior (IES), a desenvolverem e divulgarem atividades de produção científica, aperfeiçoando a formação profissional, propiciando uma vivência acadêmica mais intensa e o aprofundamento de seus conhecimentos em nossa região no interior do Ceará.
      </p>
      <p>
        No primeiro dia de evento, discutimos a importância da ciência e a sua contribuição para nos livrar dessa grave crise sanitária. Foi uma abertura que refletiu o papel das instituições nesta luta, pois sabemos que os serviços públicos e o Sistema Único de Saúde (SUS) no Brasil duramente enfraquecidos. Nós que fazemos Universidades, sabemos que a produção científica que apresentamos ao longo do nosso congresso, é fruto de muita luta e de esforços de pesquisadores que estão contribuindo com a ciência. 
      </p>
      <p>

        Ao longo do evento, foram três dias de apresentação de trabalhos nas áreas de Ciências da Vida, Ciência exatas, tecnológicas e multidisciplinar e Ciências da Saúde; 17 salas virtuais; 34 avaliadores; duas palestras; três mesas redondas; oito minicursos; três oficinas; 9 premiações de melhores trabalhos e muita produção de conhecimento. Foi criado o canal institucional da PRPI no YouTube, de onde foram feitas as 5 primeiras transmissões ao vivo. Neste canal tivemos 1.202 visualizações e 125 inscritos. No segundo, terceiro e quarto dias de evento, falamos, respectivamente, sobre Inovação, Pós-graduação e Saúde. Três temas indissociáveis nesses últimos dias.

      </p>
      <p>
        Com a pandemia, ficou evidente a inovação que as instituições têm empreendido em prol da saúde. Em abril de 2020, . quando o país foi atingido pela primeira onda, o SUS ficou sobrecarregado e muitas mortes evitáveis passaram a ocorrer. Produzimos, dentro da universidade, máscaras face shield, realizamos campanhas de cestas básicas, doamos Epi’s, produzimos sabão líquido e álcool em gel, mapeamos, atendemos, produzimos, elaboramos protocolos próprios e, por fim, não paramos de impactar positivamente, contribuindo verdadeiramente para sairmos dessa crise. 
      </p>
      <p>
        Com a pandemia, escancaramos nossas diversas desigualdades e erros por corrigir. Assim como falamos em redução de assimetrias na pós-graduação, no evento, relatamos um pouco os desafios da PG no Ceará, inclusive sobre sustentabilidade de nossos cursos. Mesmo com a redução de aporte financeiro da Instituição, a pós-graduação continua produzindo, e a pandemia, de certa forma, fez e faz com que a sociedade enxergue a importância da pesquisa, da ciência e das universidades assim como as tecnologias para aulas e encontros que garantem uma contínua troca de conheciemtos como exemplo esse congresso virtual. 
      </p>
      <p>
        No II CONPESQ, buscamos para além de uma obrigação, enquanto instituição que produz ciência, e que tem bolsas de iniciação científica com financiamento próprio, e também financiamento do CNPq e da Funcap, somar esforços para colocar na pauta a incansável luta pela educação e universidade pública, pela ciência e inovação. Gostaríamos de somar na luta em defesa do SUS, que é um sistema indissociável de agendas essenciais: a defesa da democracia e da Constituição, dos direitos, da universalidade e integralidade, das manutenções da vinculação de recursos para a saúde e educação, a defesa dos profissionais da saúde, cientistas e gestores, nossos funcionários públicos.  
      </p>
      <p>
        Por isso, o II Congresso de Pesquisa, Pós-Graduação e Inovação da {{INSTITUICAO}}, em 2021, não é mais um evento na agenda da Pró-Reitoria de Pesquisa, Pós-Graduação e Inovação – PRPI. É nossa parcela de contribuição na luta em defesa do coletivo, nossa forma de mostrar que é por meio da luta, também das universidades, que sairemos dessa grave crise sanitária. Com isso, podemos vislumbrar a Ciência Pós-pandemia ainda mais forte. 

      </p>
      <p>
        Os congressistas do II CONPESQ da {{INSTITUICAO}}, reunidos de 12 a 16 de abril de 2021, em plataforma virtual, puderam olhar um pouco para o futuro avistado nas conferências, grandes debates, mesas-redondas e comunicações orais como expressão do direito de todos à pesquisa, à inovação, à pós-graduação, à saúde e à vida. A pesquisa e o SUS, definitivamente, precisam ser defendidos, um orgulho, portadores de esperança para olhar para o nosso futuro com mais esperança.
      </p>
      <p>
        <h5>Pró-reitoria de pesquisa, pós-graduação e Inovação, e toda equipe organizadora do evento.</h5>
      </p>
      <hr>
      <CENTER><h3>ESTA MENSAGEM FOI ENVIADA AUTOMATICAMENTE. NÃO RESPONDA ESTE E-MAIL.</h3></CENTER>
      <hr>
    <p>Quaisquer dúvidas, enviar e-mail para {{SUPORTE}}.</p>
    <h2 style="text-align: center;"><a href="https://cpesq.ufca.edu.br">https://conpesq.ufca.edu.br</a></h2>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
