<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ORIENTAÇÕES PARA PREPARAÇÃO DA APRESENTAÇÃO</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>ORIENTAÇÕES PARA PREPARAÇÃO DA APRESENTAÇÃO (ORAL E POSTER)</b></h1>
    <h2>{{evento}}</h2>
    <hr>
      <p>
        O {{nome_longo}} está em fase final de preparação para receber 
        você e demais participantes numa experiência acadêmica e social únicas, numa aprendizagem conjunta e 
        coletiva neste primeiro evento totalmente virtual.   
      </p>
      <hr>
      <p>
        <h2>Prazo para envio da apresentação: {{prazo_apresentacao}}</h2>
      </p>
      <hr>
      <p>
        <h3>Dados do trabalho</h3>
        ID: {{id}}<br>
        Título: {{titulo}}<br>
        Autores: {{autores}}<br>
        Tipo de apresentação: {{apresentacao}}<br>
        E-mail: {{email}}<br>
        
      </p>
      <hr>
      <p>
        <h3>Data e local de apresentação</h3>
        Data da apresentação: {{data_apresentacao}}<br>
        Local de apresentação: {{local_apresentacao}} - <a href="{{link}}">{{link}}</a><br>
      </p>
      <hr>
      <p>
        <h3>Dados de acesso ao sistema</h3>
        <ul>
            <li>URL: <a href="https://sci01-ter-jne.ufca.edu.br/cppgi/meusProjetos">https://sci01-ter-jne.ufca.edu.br/cppgi/meusProjetos</a><br></li>
            <li>CPF: {{cpf}}<br></li>
            <li>Senha: {{senha}}<br></li>
        </ul>
      </p>
      <hr>
      <p>
        <h3>Como preparar a apresentação</h3>
        <ul>
            <li>1. FORMATO: Os trabalhos selecionados para apresentação oral ou poster deverão ser gravados em vídeo, e não poderão ultrapassar 5 (cinco) minutos.             
            <li>2. DISPONIBILIZAÇÃO: O vídeo deve ser postado no Youtube (ver passo 3). O link gerado deve ser cadastrado no sistema, conforme instruções abaixo. </li>
            <li>3. COMO ENVIAR VÍDEOS GRAVADOS PARA O YOUTUBE: Clique <a href="https://creatoracademy.youtube.com/page/course/bootcamp-foundations?utm_source=YouTube%20Help&utm_medium=Help%20Center&utm_campaign=cross%20promotion">aqui</a></li>
            <li>4. Para trabalhos em poster, a apresentação deve projetar apenas um slide, seguindo as mesmas recomendações acima.</li>
        </ul>
      </p>
      <hr>
      <p>
        <h3>Como enviar o link do vídeo da sua apresentação</h3>
        <ul>
          <li>1. Acesse o ambiente "Meus Projetos" em: <a href="https://sci01-ter-jne.ufca.edu.br/cppgi/meusProjetos">https://sci01-ter-jne.ufca.edu.br/cppgi/meusProjetos</a></li>
          <li>2. Entre com seus dados de acesso: CPF e senha (informados acima). Caso não lembre ou não tenha os dados de acesso, basta clicar em <a href="https://sci01-ter-jne.ufca.edu.br/cppgi/esqueciMinhaSenha">"Não sei/Esqueci Minha Senha"</a> e informar seu e-mail, este mesmo que você está acessando no momento.</li>
          <li>3. Procure seu trabalho na tabela, e procure a opção "ENVIAR LINK DA APRESENTAÇÃO" (penultima coluna).</li>
          <li>4. Cole o link da sua apresentação (link do youtube) e clique em enviar para finalizar o processo. </li>
      </ul>
      </p>

      <hr>
      <CENTER><h3>ESTA MENSAGEM FOI ENVIADA AUTOMATICAMENTE. NÃO RESPONDA ESTE E-MAIL.</h3></CENTER>
      <hr>
    <p>Quaisquer dúvidas, enviar e-mail para atendimento.prpi@ufca.edu.br.</p>
    <h2 style="text-align: center;"><a href="https://cpesq.ufca.edu.br">https://conpesq.ufca.edu.br</a></h2>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
