<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ORIENTAÇÕES PARA AVALIAÇÃO DE TRABALHOS</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>ORIENTAÇÕES PARA AVALIAÇÃO DE TRABALHOS</b></h1>
    <h2>{{nome_longo}}</h2>
    <hr>
      <p>
        A Pró-reitoria de Pesquisa, Pós-Graduação e Inovação - PRPI/UFCA, em nome do {{evento}} agradece a
        sua disponibilidade em participar como avaliador(a) de sessão oral/poster. 
      </p>
      <hr>
      <p>
        <h3>Dados de acesso ao sistema</h3>
        <ul>
            <li>Link com a lista de trabalhos: <a href="https://{{cpf}}:{{senha}}@sci01-ter-jne.ufca.edu.br/cppgi/avaliador/{{edital}}" target="_blank">CLIQUE AQUI</a></li>
            <li>Usuário: {{cpf}}</li>
            <li>Senha: {{senha}}</li>
            <li>Sala: {{sala}}</li>
            <li>Link da sala: {{sala_link}}</li>
            <li>Horário da(s) sessão(ões): Verificar diretamente na lista de trabalhos, disponível no link acima.
        </ul>
      </p>
      <hr>
      
      <p>
        <h3>Como acessar os trabalhos de sua(s) sessão(ões)</h3>
        <ul>
          <li>1. Acesse o módulo Avaliador em: <a href="https://{{cpf}}:{{senha}}@sci01-ter-jne.ufca.edu.br/cppgi/avaliador/{{edital}}" target="_blank">MÓDULO AVALIADOR</a></li>
          <li>2. Entre com seus dados de acesso: CPF e senha (informados acima).</li>
          <li>3. Clique na sessão desejada para visualizar a lista de trabalhos.</li>
          <li>4. Para cada trabalho da sessão, clicar no link "Avaliar" para preencher a ficha de avaliação. O preenchimento de cada avaliação é o que comprova a apresentação do trabalho.</li>
          <li>O certificado de participação pode ser baixado no <a href="https://{{cpf}}:{{senha}}@sci01-ter-jne.ufca.edu.br/cppgi/avaliador/{{edital}}" target="_blank">MÓDULO AVALIADOR</a>, no link "BAIXAR CERTIFICADO".</li>
      </ul>
      </p>

      <hr>
      <CENTER><h3>ESTA MENSAGEM FOI ENVIADA AUTOMATICAMENTE. NÃO RESPONDA ESTE E-MAIL.</h3></CENTER>
      <hr>
    <p>Quaisquer dúvidas, enviar e-mail para atendimento.prpi@ufca.edu.br.</p>
    <h2 style="text-align: center;"><a href="https://conpesq.ufca.edu.br">https://conpesq.ufca.edu.br</a></h2>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
