<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<script type = "text/javascript">
    function salvar(formulario) {
        document.getElementById(formulario).submit(); 
    }
    function addForm() {
        const f = document.createElement("form");
        f.setAttribute('method', "post");
        f.setAttribute('action', "submit.php");
        f.setAttribute('class', "form-control");

        const nome_curto = document.createElement("input");
        nome_curto.setAttribute('type', "text");
        nome_curto.setAttribute('name', "nome_curto");
        nome_curto.setAttribute('class', "form-control");

        const i = document.createElement("input");
        i.setAttribute('type', "text");
        i.setAttribute('name', "nome");
        i.setAttribute('class', "form-control");

        const s = document.createElement("input");
        s.setAttribute('type', "submit");
        s.setAttribute('value', "Salvar");
        s.setAttribute('class', "btn");

        f.appendChild(nome_curto);
        f.appendChild(i);
        f.appendChild(s);

        document.body.appendChild(f);
    }
</script>  
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#result").hide();
        $("input").on("change", function(event){
            event.preventDefault();
            var form_id = $(this).get(0).form.id;
            var formValues= $('#' + form_id).serialize();
            $.post("{{url_for('salvar_edital',operacao=0)}}", formValues, function(data){
                // Display the returned data in browser
                //$("#result").show();
                //$("#mensagem").html(data);
            },"text");
        });
    });
    </script>

</head>
  <body>
    <center><img src="{{ url_for('static', filename='cabecalho.png')}}" width="100" height="150" alt=""></center>
    <center><b>Ministério da Educação<br>
            Universidade Federal do Cariri<br>
            Plataforma Yoko - Eventos</b></center><br><hr>
    <center><p><b><h1>MÓDULO ADMIN</b></h1></p></center>
    <hr>
    <center><p><b><h1>LISTA DE EDITAIS CADASTRADOS</b></h1></p></center>
    <div id="result" class="alert alert-warning alert-dismissible fade show" role="alert">
        <p id="mensagem"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="{{url_for('cadastrar_edital')}}"><button type="button" class="btn btn-outline-primary">Cadastrar Novo Edital</button></a>
    <a href="{{url_for('email_solicitar_avaliacao')}}"><button type="button" class="btn btn-outline-primary">Enviar E-mail para os avaliadores</button></a>
    <a href="{{url_for('cadastrar_usuario',operacao=0)}}"><button type="button" class="btn btn-outline-primary">Cadastrar Novo Usuário</button></a>
    <a href="{{url_for('cadastrar_usuario',operacao=1)}}"><button type="button" class="btn btn-outline-primary">Listar Usuários</button></a>
    <a href="{{url_for('meusProjetos')}}"><button type="button" class="btn btn-outline-primary">Minhas Submissões</button></a>
        <table class="table">
            <thead>
                <th>id</th>
                <th style="width: 10%">Nome curto</th>
                <th style="width: 35%">Nome longo do edital<BR>Período<BR>Local</th>
                <th>
                        Deadline Submissão
                    <BR>Deadline Avaliação
                    <BR>Deadline versão final
                    <BR>Deadline Apresentação
                </th>
                <th style="width: 15%">ISBN</th>
                <th style="width: 15%">Situação</th>
                <th>Aval,Mod,Apr,Part,De,Con</th>
            </thead>
            <tbody>
                {% for linha in linhas %}
                    <tr>
                        <form action="{{url_for('salvar_edital',operacao=0)}}" method="POST" id="form_{{linha[0]}}">
                            <input type="hidden" name="codigo_edital" id="codigo_edital" value="{{linha[0]}}">
                            <td>
                                <a href="{{url_for('admin',edital=linha[0])}}">{{linha[0]}}</a>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" id="nome_curto" name="nome_curto" placeholder="NOME CURTO DO EDITAL" required="required" value="{{linha[4]}}">                                
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" id="nome" name="nome" placeholder="DESCRIÇÃO DO EDITAL" required="required" value="{{linha[1]}}">
                                <input type="text" class="form-control form-control-sm" id="periodo" name="periodo" placeholder="PERÍODO" required="required" value="{{linha[15]}}">
                                <input type="text" class="form-control form-control-sm" id="local" name="local" placeholder="LOCAL" required="required" value="{{linha[16]}}">
                            </td>
                            <td> 
                                <input class="form-control-sm" type="datetime-local" id="deadline" name="deadline" value="{{linha[2]}}"  onblur="//salvar('form_{{linha[0]}}');" required="required">
                                <input class="form-control-sm" type="datetime-local" id="deadline_avaliacao" name="deadline_avaliacao" value="{{linha[3]}}"  onblur="//salvar('form_{{linha[0]}}');" required="required">
                                <input type="datetime-local" class="form-control-sm" id="deadline_final" name="deadline_final" value="{{linha[6]}}"  onblur="//salvar('form_{{linha[0]}}');" required="required">
                                <input type="datetime-local" class="form-control-sm" id="deadline_apresentacao" name="deadline_apresentacao" value="{{linha[5]}}"  onblur="//salvar('form_{{linha[0]}}');" required="required">
                            </td>
                            
                            <td>
                                <input type="text" class="form-control form-control-sm" id="isbn" name="isbn" placeholder="ISBN" required="required" onblur="//salvar('form_{{linha[0]}}');" value="{{linha[7]}}">                                
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" id="situacao" name="situacao" placeholder="ISBN" required="required" onblur="//salvar('form_{{linha[0]}}');" value="{{linha[8]}}">                                
                                <p><a href="{{url_for('ver_imagem',qual=linha[14])}}">{{linha[14]}}</a></p>
                                <p><a href="{{url_for('ver_imagem',qual=linha[10])}}">{{linha[10]}}</a></p>
                                <p><a href="{{url_for('ver_imagem',qual=linha[9])}}">{{linha[9]}}</a></p>
                                <p><a href="{{url_for('ver_imagem',qual=linha[11])}}">{{linha[11]}}</a></p>
                                <p><a href="{{url_for('ver_imagem',qual=linha[12])}}">{{linha[12]}}</a></p>
                                <p><a href="{{url_for('ver_imagem',qual=linha[13])}}">{{linha[13]}}</a></p>
                            </td>
                        </form>
                            <td>
                                <form action="{{url_for('salvar_edital',operacao=1)}}" method="POST" id="form_{{linha[0]}}_arquivos" enctype="multipart/form-data">
                                    <input class="form-control form-control-sm" name="avaliador" type="file">
                                    <input class="form-control form-control-sm" name="moderador" type="file">
                                    <input class="form-control form-control-sm" name="apresentador" type="file">
                                    <input class="form-control form-control-sm" name="participante" type="file">
                                    <input class="form-control form-control-sm" name="demais" type="file">
                                    <input class="form-control form-control-sm" name="convidado" type="file">
                                    <input class="btn btn-success" type="submit" name="enviar" value="salvar">
                                    <input type="hidden" name="codigo_edital" id="codigo_edital" value="{{linha[0]}}">
                                </form>
                            </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
