<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<script type = "text/javascript">
    function salvar(formulario) {
        document.getElementById(formulario).submit(); 
    }
</script>  

</head>
  <body>
    <center><img src="{{ url_for('static', filename='cabecalho.png')}}" width="100" height="150" alt=""></center>
    <center><b>Ministério da Educação<br>
            Universidade Federal do Cariri<br>
            Pró-reitoria de Pesquisa, Pós-graduação e Inovação</b></center><br><hr>
    <center><p><b><h1>MÓDULO ADMIN</b></h1></p></center>
    <hr>
    <center><p><b><h1>PÁGINA ADMINISTRATIVA</b></h1></p></center>
    
        <table class="table">

            <thead>
                <th>id</th>
                <th>Descrição</th>
                <th>Deadline Submissão</th>
                <th>Deadline Avaliação</th>
            </thead>
            <tbody>
                {% for linha in linhas %}
                    <tr>
                        <form action="{{url_for('salvar_edital',edital=linha[0])}}" method="POST" id="form_{{linha[0]}}">
                            <td><a href="{{url_for('admin',edital=linha[0])}}">{{linha[0]}}</a></td>
                            <td>
                                <input type="text" class="form-control" id="nome" name="nome" placeholder="DESCRIÇÃO DO EDITAL" required="required" onblur="salvar('form_{{linha[0]}}');" value="{{linha[1]}}">
                            </td>
                            <td> 
                                <input type="datetime-local" id="deadline" name="deadline" value="{{linha[2]}}"  onblur="salvar('form_{{linha[0]}}');" required="required">
                            </td>
                            <td>
                                <input type="datetime-local" id="deadline_avaliacao" name="deadline_avaliacao" value="{{linha[3]}}"  onblur="salvar('form_{{linha[0]}}');" required="required">
                                <input class="btn btn-success" type="submit" name="enviar" value="salvar">
                            </td>
                        </form>
                    </tr>
                {%endfor%}
            </tbody>
        </table>

    <center><img src="{{ url_for('static', filename='rodape.png')}}" width="100%" height="140" alt="" align="left"></center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
