{% extends "layout.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block page_header %}
<h1 class="page-title">MÓDULO ADMIN</h1>
<h2 class="page-subtitle">LISTA DE AVALIADORES</h2>
{% endblock %}

{% block content %}
<div class="alert-warning">
    <strong><h3 class="text-lg font-bold">{{edital}} - {{nome_longo}}</h3></strong>
</div>
<a href="{{url_for('admin',edital=edital)}}" class="btn-outline mb-4 inline-block">Voltar para página anterior</a>

<div class="table-wrapper">
    <table class="table-base">
        <thead>
            <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Link Avaliador</th>
            </tr>
        </thead>
        <tbody>
            {% for linha in linhas %}
                <tr>
                    <td>{{linha[5]}}</td>
                    <td>{{linha[2]}}</td>
                    <td><a class="text-brand-700 hover:underline" href="{{PREFIXO}}{{linha[0]}}:{{linha[1]}}@{{ROOT_SITE}}/cppgi/avaliador/{{edital}}" target="_blank">{{PREFIXO}}{{linha[0]}}:{{linha[1]}}@{{ROOT_SITE}}/cppgi/avaliador/{{edital}}</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
