{% extends "layout.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block head_extra %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("input").on("change", function(event){
            event.preventDefault();
            var form_id = $(this).get(0).form.id;
            var formValues= $('#' + form_id).serialize();
            var str = form_id.split("_");
            var id_avaliacao = str[1];
            $.post("{{url_for('salvar_consultores')}}", formValues, function(data){
                //console.log(data);
            },"text");
        });

        $("select").on("change", function(event){
            event.preventDefault();
            var form_id = $(this).get(0).form.id;
            var formValues= $('#' + form_id).serialize();
            var str = form_id.split("_");
            var id_avaliacao = str[1];
            $.post("{{url_for('salvar_consultores')}}", formValues, function(data){
                //console.log(data);
            },"text");
        });
    });
</script>
{% endblock %}

{% block page_header %}
<h1 class="page-title">MÓDULO ADMIN</h1>
<h2 class="page-subtitle">LISTA DE AVALIADORES</h2>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert-warning">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="alert-warning">
    <strong><h3 class="text-lg font-bold">{{edital}} - {{nome_longo}}</h3></strong>
</div>
<a href="{{url_for('admin',edital=edital)}}" class="btn-outline mb-4 inline-block">Voltar para página anterior</a>

<div class="table-wrapper">
    <table class="table-base">
        <thead>
            <tr>
              <th>ID</th>
              <th>E-mail</th>
              <th>Nome</th>
              <th>Recomendação</th>
              <th>Formulário de Avaliação</th>
              <th>Declaração</th>
              <th>Finalizado</th>
              <th>Data</th>
              <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            {% for linha in avaliacoes %}
                <tr>
                    <form action="{{url_for('salvar_consultores')}}" id="form_{{linha[0]}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="id_avaliacao" id="id_avaliacao" value="{{linha[0]}}">
                        <td>{{linha[0]}}</td>
                        <td><input class="form-input" type="text" name="avaliador" id="avaliador" value="{{linha[3]}}"></td>
                        <td><input class="form-input" type="text" name="nome_avaliador" id="avaliador" value="{{linha[4]}}"></td>
                        <td>
                            <select class="form-select" name="recomendacao" id="recomendacao" required="required">
                                <option value="{{linha[5]}}" selected="selected">
                                  {%if linha[5]==1 %}
                                    RECOMENDADO
                                  {%elif linha[5]==-1 %}
                                    INDEFINIDO
                                  {%else%}
                                    NÃO RECOMENDADO
                                  {%endif%}
                                </option>
                                <option value="1">RECOMENDADO</option>
                                <option value="0">NÃO RECOMENDADO</option>
                            </select>
                        </td>
                        <td class="text-center"><a href="{{linha[6]|safe}}"><img src="{{url_for('static',filename='formulario.png')}}"></a></td>
                        <td class="text-center">
                            {%if linha[7]==1%} <!--Se finalizou a avaliação-->
                                <a href="{{url_for('getDeclaracaoAvaliador',token=linha[2])}}"><img src="{{url_for('static',filename='pdf.png')}}"></a>
                            {%endif%}
                        </td>
                        <td>
                            <select class="form-select" name="finalizado" id="finalizado" required="required">
                                <option value="{{linha[7]}}" selected="selected">
                                  {%if linha[7]==1 %}
                                    FINALIZADO
                                  {%else%}
                                    NÃO FINALIZADO
                                  {%endif%}
                                </option>
                                <option value="1">FINALIZADO</option>
                                <option value="0">NÃO FINALIZADO</option>
                            </select>
                        </td>
                        <td>
                            {%if linha[8] is not none %}
                                {{linha[8].strftime('%d/%m/%Y %H:%M')}}
                            {%endif%}
                        </td>
                        <td><a href="{{url_for('remover_avaliacao',id_avaliacao=linha[0],id_projeto=linha[1])}}" onclick="return confirm('Tem certeza ? Não é possível desfazer esta operação!')">
                            <img src="{{url_for('static',filename='delete.png')}}"></a></td>
                    </form>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
