{% extends "layout.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block head_extra %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("input").on("change", function(event){
            event.preventDefault();
            var form_id = $(this).get(0).form.id;
            var formValues= $('#' + form_id).serialize();
            var str = form_id.split("_");
            var id_avaliacao = str[1];
            $.post("{{url_for('cadastrar_usuario',operacao=1)}}", formValues, function(data){
                //console.log(data);
            },"text");
        });

        $("select").on("change", function(event){
            event.preventDefault();
            var form_id = $(this).get(0).form.id;
            var formValues= $('#' + form_id).serialize();
            var str = form_id.split("_");
            var id_avaliacao = str[1];
            $.post("{{url_for('cadastrar_usuario',operacao=1)}}", formValues, function(data){
                //console.log(data);
            },"text");
        });
    });
</script>
{% endblock %}

{% block page_header %}
<h1 class="page-title">MÓDULO ADMIN</h1>
<h2 class="page-subtitle">LISTA DE USUÁRIOS</h2>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert-warning">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<a href="{{url_for('root')}}" class="btn-outline mb-4 inline-block">Voltar</a>

<div class="table-wrapper">
    <table class="table-base">
        <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Password</th>
              <th>Permission</th>
              <th>Roles</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            {% for linha in usuarios %}
                <tr>
                    <form action="{{url_for('cadastrar_usuario',operacao=1)}}" id="form_{{linha[0]}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="id_usuario" id="id_usuario" value="{{linha[0]}}">
                        <td>{{linha[0]}}</td>
                        <td>
                            <input type="text" class="form-input" id="username" name="username" value="{{linha[1]}}">
                        </td>
                        <td>
                            <input type="text" class="form-input" id="password" name="password" value="{{linha[2]}}">
                        </td>
                        <td>
                            <select class="form-select" id="permission" name="permission">
                                {%if linha[3]==0%}
                                    <option value="{{linha[3]}}">ADMIN</option>
                                {%else%}
                                    <option value="{{linha[3]}}">USUÁRIO COMUM</option>
                                {%endif%}
                                <option value="0">ADMIN</option>
                                <option value="0">USUÁRIO COMUM</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="roles" name="roles">
                                <option value="{{linha[4]}}">{{linha[4]}}</option>
                                <option value="user">Usuário</option>
                                <option value="user,avaliador">Usuário e avaliador</option>
                                <option value="user,avaliador,admin">Usuário, avaliador e admin</option>
                                <option value="avaliador">Avaliador</option>
                                <option value="monitor">Monitor de sessão</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-input" id="nome" name="nome" value="{{linha[5]}}">
                        </td>
                        <td>
                            <input type="text" class="form-input" id="email" name="email" value="{{linha[6]}}">
                        </td>
                        <td><a href="{{url_for('remover_usuario',id_usuario=linha[0])}}" onclick="return confirm('Tem certeza ? Não é possível desfazer esta operação!')">
                            <img src="{{url_for('static',filename='delete.png')}}"></a></td>
                    </form>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
