<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>MAPA DE APRESENTAÇÕES</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>  
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
</head>
  <body>
    <center><img src="{{ url_for('static', filename='cabecalho.png')}}" width="100" height="150" alt=""></center>
    <center><b>Ministério da Educação<br>
            Universidade Federal do Cariri<br>
            Pró-reitoria de Pesquisa, Pós-graduação e Inovação</b></center><br><hr>
    <center><p><b><h1>MAPA DE APRESENTAÇÕES</b></h1></p></center>
    <h2>{{nome_edital}}</h2>
    <hr><br>

    <table id="mapa" class="display" style="width:100%">
      <caption><h2>MAPA DE APRESENTAÇÕES</h2></caption>
      <thead>
        <tr>
        <th>LOCAL</th><th>DATA</th><th>TOTAL</th><th>TRABALHOS</th>
        </tr>
    </thead>
    <tbody>
      {% for linha in linhas %}
        <tr>
          <td><p style="background-color: #DBE0E3;"><b><a href="{{linha[4]}}" target="_blank">{{linha[0] }}</a> </b></p></td>
          <td><p style="background-color: #33C4FF;"><b>{{ linha[1] }}</b></p></td>
          <td>{{ linha[2] }}</td>
          <td>
            <h4>Avaliadores da sessão: {{linha[5]}}</h4>
            {{ linha[3]|safe }}

          </td>
        </tr>
        {% endfor %}
    </tbody>  
    </table>
    <script>

      $(document).ready(function() {
          $('#mapa').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "paging": false,
            "order": [[ 1, "asc" ]],
            "language": {
            "search": "Procurar",
            "lengthMenu": "Mostrando _MENU_ linhas por página",
            "zeroRecords": "Nenhum registro encontrado!",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum registro disponível",
            paginate: {
            first:      "Primeira",
            previous:   "Anterior",
            next:       "Próximo",
            last:       "Anterior"
        },
            "infoFiltered": "(filtrado de um total de _MAX_ registros)"
           }
          });
      } );

    </script>
    <center><img src="{{ url_for('static', filename='rodape.png')}}" width="100%" height="140" alt="" align="left"></center>

  </body>
</html>
