<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ titulo }}</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <center><img src="{{ url_for('static', filename='cabecalho.png')}}" width="100" height="150" alt=""></center>
    <center><b>Ministério da Educação<br>
            Universidade Federal do Cariri<br>
            Plataforma Yoko - Eventos</b></center><br><hr>
    <center><p><b><h1>PREMIADOS</b></h1></p></center>
    <h2>{{nome_edital}}</h2>
    <hr><br>
    <h2>Ciências da Vida</h2>
    <table style="width:100%">
      <tr>
      <th>ID</th><th>NOME</th><th>TITULO</th><th>Média</th>
      </tr>
      {% for linha in vida %}
          
        <tr>
          <td>{{linha[0]}}</td>
          <td>{{linha[1]}}</td>
          <td>{{linha[2]}}</td>
          <td>{{linha[4]}}</td>
        </tr>
          
      {% endfor %}
    </table>
    <hr>
    <h2>Humanidades</h2>
    <table style="width:100%">
      <tr>
      <th>ID</th><th>NOME</th><th>TITULO</th><th>Média</th>
      </tr>
      {% for linha in humanidades %}
          
        <tr>
          <td>{{linha[0]}}</td>
          <td>{{linha[1]}}</td>
          <td>{{linha[2]}}</td>
          <td>{{linha[4]}}</td>
        </tr>
          
      {% endfor %}
    </table>
    <hr>
    <h2>Exatas e da terra</h2>
    <table style="width:100%">
      <tr>
      <th>ID</th><th>NOME</th><th>TITULO</th><th>Média</th>
      </tr>
      {% for linha in exatas %}
          
        <tr>
          <td>{{linha[0]}}</td>
          <td>{{linha[1]}}</td>
          <td>{{linha[2]}}</td>
          <td>{{linha[4]}}</td>
        </tr>
          
      {% endfor %}
    </table>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
