<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ titulo }}</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
p.aprovado {
  color: green;
}

p.indefinido {
  color: orange;
}

p.reprovado {
  color: red;
}
</style>
  </head>
  <body>
    <center><img src="{{ url_for('static', filename='cabecalho.png')}}" width="100" height="150" alt=""></center>
    <center><b>Ministério da Educação<br>
            Universidade Federal do Cariri<br>
            Plataforma Yoko - Eventos</b></center><br><hr>
    <center><p><b><h1>PROGRAMAÇÃO</b></h1></p></center>
    <h2>{{nome_edital}}</h2>
    <hr><br>
    <!--<center><h2>grande_area.decode('utf-8')</h2></center>-->
    <hr>
    <table style="width:100%">
      <caption><h2>Apresentações Orais</h2></caption>
      <tr>
      <th>Local de Apresentação</th><th>Dia, Hora, Título, Autores</th>
      </tr>
      {% for linha in oral %}
      <tr>
        <td><a href='/cppgi/apresentacoes?edital=8&sala={{ linha[0] }}'>{{linha[0]}}</a></td>
        <td>{{ linha[1]|safe }}</td>
      </tr>
      {% endfor %}
    </table>

    <hr><br>

    <table style="width:100%">
      <caption><h2>Apresentações em Poster</h2></caption>
      <tr>
      <th>Local de Apresentação</th><th>Dia, Hora, Título, Autores</th>
      </tr>
      {% for linha in poster %}
      <tr>
        <td>{{ linha[0] }}</td>
        <td>{{ linha[1]|safe }}</td>
      </tr>
      {% endfor %}
    </table>

    <br><br>
    <!--<center><img src="{{ url_for('static', filename='assinatura_rafael.png')}}" width="254" height="49" alt=""></center>
    <center>___________________________________</center><br>
    <center>RAFAEL PERAZZO BARBOSA MOTA</center><br>
    <center>COORDENADOR DE PESQUISA</center><br>
    <center>SIAPE: 1570709</center> -->
    <center><img src="{{ url_for('static', filename='rodape.png')}}" width="100%" height="140" alt="" align="left"></center>

  </body>
</html>
