[DEFAULT]
server = http://localhost
producao = 0
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_KEY_ID=
AWS_S3_SECRET_KEY=
INSTITUICAO=Universidade Federal do Cariri
SIGLA=UFCA
SUPORTE=atendimento.prpi@ufca.edu.br
REMETENTE=pesquisa.prpi@ufca.edu.br
NAO-RESPONDA=NAO-RESPONDA@ufca.edu.br
